*{
      margin: 0;
      padding: 0;
}
a {
      text-decoration: none;
      color: #333;
}
ul {
      list-style-type: none;
}
body {
      width: 100%;
      color: #333;
      font-family: Helvetica,'Courier New', Courier, monospace;
      font-size: 15px;
      line-height: 1.6;
}
#closeLogin-btn,#closeSignin-btn,#closeFillEmail-btn, #closeResetPassword-btn, #closeProfile-btn, #closeChangePassword-btn {
      position:absolute;
      left:410px;
      top: 10px;
      border: none;
      background-color: white;
      font-size: 33px;
      cursor: pointer;
      transition: 0.2s;
}
#closeLogin-btn:hover,#closeSignin-btn:hover,#closeFillEmail-btn:hover, #closeResetPassword-btn:hover, #closeProfile-btn:hover, #closeChangePassword-btn:hover {
      color: #f58020;
}
/*! Sign in -------------------------------------------------------------------------------------------------*/
#modal-signin {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutLogin 0.4s;
}
#signin-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#signin-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#signin-container img {
      width: 130px;
}
#signin-container h3 {
      text-align: center;
      color: #565555;
}
#signin-container {
      position: relative;
}
#signin-container label {
      font-size: 13px;
}
#signin-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#signin-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#signin-container .error {
      font-size: 13px;
      color: #ef4444;
      display: none;
}
#signin-container #signin-options {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 80px;
}
#signin-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#signin-container a:hover {
      text-decoration: none;
}
#signin-container #signin-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#signin-container #signin-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}
#signin-container #login-btn {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
}
#signin-container #login-btn:hover {
      background-color: #ff5050;
      color: white;
}
/*! Login --------------------------------------------------------------------------------------------*/
#modal-login {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutLogin 0.4s;
}
#login-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#login-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#login-container img {
      width: 150px;
}
#login-container h3 {
      text-align: center;
      color: #565555;
}
#login-container {
      position: relative;
}
#login-container label {
      font-size: 15px;
}
#login-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      height: 30px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#login-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#login-container .error {
      color: #ef4444;
      display: none;
}
#login-container [type="checkbox"] {
      margin-right: 5px;
      color: #838282;
}
#login-container #login-options {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
}
#login-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#login-container a:hover {
      text-decoration: none;
}
#login-container #login-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#login-container #login-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}
#login-container #signin-btn {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
}
#login-container #signin-btn:hover {
      background-color: #ff5050;
      color: white;
}
/*! fillEmail --------------------------------------------------------------------------------------------*/
#modal-fillEmail {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutfillEmail 0.4s;
}
#fillEmail-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#fillEmail-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#fillEmail-container img {
      width: 150px;
}
#fillEmail-container h3 {
      text-align: center;
      color: #565555;
}
#fillEmail-container {
      position: relative;
}
#fillEmail-container label {
      font-size: 15px;
}
#fillEmail-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      height: 30px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#fillEmail-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#fillEmail-container .error {
      color: #ef4444;
      display: none;
}
#fillEmail-container [type="checkbox"] {
      margin-right: 5px;
      color: #838282;
}
#fillEmail-container #fillEmail-options {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
}
#fillEmail-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#fillEmail-container a:hover {
      text-decoration: none;
}
#fillEmail-container #fillEmail-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#fillEmail-container #fillEmail-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}
#fillEmail-container #fillEmail-login-btn {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
}
#fillEmail-container #fillEmail-login-btn:hover {
      background-color: #ff5050;
      color: white;
}
/*! resetPassword --------------------------------------------------------------------------------------------*/
#modal-resetPassword {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutresetPassword 0.4s;
}
#resetPassword-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#resetPassword-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#resetPassword-container img {
      width: 150px;
}
#resetPassword-container h3 {
      text-align: center;
      color: #565555;
}
#resetPassword-container {
      position: relative;
}
#resetPassword-container label {
      font-size: 15px;
}
#resetPassword-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      height: 30px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#resetPassword-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#resetPassword-container .error {
      color: #ef4444;
      display: none;
}
#resetPassword-container [type="checkbox"] {
      margin-right: 5px;
      color: #838282;
}
#resetPassword-container #resetPassword-options {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
}
#resetPassword-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#resetPassword-container a:hover {
      text-decoration: none;
}
#resetPassword-container #resetPassword-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#resetPassword-container #resetPassword-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}
#resetPassword-container #resetPassword-login-btn {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
}
#resetPassword-container #resetPassword-login-btn:hover {
      background-color: #ff5050;
      color: white;
}
/*! Profile -------------------------------------------------------------------------------------------------*/
#modal-profile {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutLogin 0.4s;
}
#profile-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#profile-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#profile-container img {
      width: 130px;
}
#profile-container h3 {
      text-align: center;
      color: #565555;
}
#profile-container {
      position: relative;
}
#profile-container label {
      font-size: 13px;
}
#profile-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#profile-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#profile-container .error {
      font-size: 13px;
      color: #ef4444;
      display: none;
}
#profile-container #profile-options {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 80px;
}
#profile-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#profile-container a:hover {
      text-decoration: none;
}
#profile-container #profile-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#profile-container #profile-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}
#profile-container #profile-changePassword {
      border: none;
      width: 400px;
      height: 35px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.3s;
}
#profile-container #profile-changePassword:hover {
      background-color: #ff5050;
      color: white;
}
/*! changePassword --------------------------------------------------------------------------------------------*/
#modal-changePassword {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
      top:0;
      left: 0;
      z-index: 5;
      animation: rightoutresetPassword 0.4s;
}
#changePassword-container {
      position: relative;
      position: fixed;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 400px;
}
#changePassword-container {
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 10px;
      box-shadow:0px 0px 2px 2px #e6e6e6;
}
#changePassword-container img {
      width: 150px;
}
#changePassword-container h3 {
      text-align: center;
      color: #565555;
}
#changePassword-container {
      position: relative;
}
#changePassword-container label {
      font-size: 15px;
}
#changePassword-container input{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      height: 30px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-bottom: 5px;
}
#changePassword-container input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#changePassword-container .error {
      color: #ef4444;
      display: none;
}
#changePassword-container [type="checkbox"] {
      margin-right: 5px;
      color: #838282;
}
#changePassword-container #changePassword-options {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 40px;
}
#changePassword-container a{
      cursor: pointer;
      color: #6f6f6f;
      text-decoration: underline;
      transition: 0.3s;
}
#changePassword-container a:hover {
      text-decoration: none;
}
#changePassword-container #changePassword-submit {    
      width: 400px;
      height: 35px;
      border: 1px;
      border-radius: 5px;
      background-color: #f58020;
      color: white;
      cursor: pointer;
}
#changePassword-container #changePassword-submit:hover {
      background-color:#04ff00;
      cursor: pointer;
}