#bookedTicket-wrapper {
      display: flex;
      flex-direction: column;
}
#homepage-btn {
      margin-bottom: 20px;
      cursor: pointer;
      width: 120px;
      height: 35px;
      border-radius: 4px;
      transition: 0.3s;
      border: 1px solid #000;
}
#homepage-btn:hover {
      border: none;
      background-color: #00a6ff;
      color: white;
}