.lichchieu-ngaychieu {
      display: flex;
      justify-content: left;
      flex-direction: column;
}

.lichchieu-thoigianbatdau {
      display: flex;
      justify-content: left;
}
.lichchieu-thoigianbatdau button {
      cursor: pointer;
      border-radius: 4px;
      padding: 7px;
      margin: 10px;
      border: 1px solid #616161;
      transition: 0.4s;
}
.lichchieu-thoigianbatdau button:hover {
      color: white;
      border: none;
      background-color: #f58020;
}
.text-bolder {
      font-weight: bolder;
}
#movie-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
}
#movie-trailer {
      width: 100%;
      height: 500px;
      background-color: black;
      position: relative;
}
#movie-trailer-container {
      z-index: 1;
      display: flex;
      justify-content: center;
}
#movie-trailer-modal {
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
}
#movie-trailer-modal #movie-trailer-start {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;
      color: white;
      cursor: pointer;
}
#movie-trailer-video-modal {
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
}
#movie-detail-container {
      width: 70%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      margin: 20px 0 20px 0;
}
#movie-detail {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 20px 0 20px 0;
}
#movie-detail-right {
      width: 50%;
}
#movie-detail-about {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin: 20px 0 20px 0;
}
#movie-detail-anhphimnho {
      width: 320px;
}
#movie-xuatchieu-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0 20px 0;
}
#movie-xuatchieu {
      width: 70%;
}
/* --------------------------- */
#movie-binhluan-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0 20px 0;
}
#movie-binhluan {
      width: 70%;
      margin: 15px 0 15px 0;
}
#movie-binhluan .binhluan-card {
      display: flex;
}
#movie-binhluan .binhluan-avatar{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 15px;
}
#movie-binhluan .binhluan-card-infomation-date {
      font-size: 13px;
      color: #959595;
}
#movie-binhluan-add .binhluan-avatar{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 15px;
}
#movie-binhluan-add {
      display: flex;
      flex-direction: column;
      width: 70%;
}
#movie-binhluan-add-info {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
}
#movie-binhluan-box{
      padding: 10px;
      resize: none;
      border-radius: 4px;
}
#movie-binhluan-submit {
      padding: 5px 10px 5px 10px;
      border-radius: 4px;
      margin-top: 10px;
      border: 1px solid #000;
      cursor: pointer;
}
#movie-binhluan-submit:hover {
      border: 1px solid #d3d3d3;
      background-color: #d3d3d3;
}
