
.LichChieu-tenphim {
      width: 250px;
}
.LichChieu-anhphimnho {
      width: 60px;
}
.LichChieu-anhphimnho img {
      width: 90px;
}
.LichChieu-thaotac button {
      border: none;
      border-radius: 4px;
      background-color: #f58020;
      padding:10px;
      cursor: pointer;
}
.LichChieu-thaotac button:hover {
      background-color: #f6a563;
}
#updateLichChieu-wrapper .line {
      border-bottom: 1px solid #000;
      width: 200%;
      transform: translateX(-25%);
      margin: 30px 0 30px 0;
}
#updateLichChieu-wrapper .error {
      margin-left: 30px;
      font-size: 13px;
      color: #ef4444;
      display: none;
}#updateLichChieu-container {
      display: flex;
      flex-direction: column;
      align-items: center;
}
#updateLichChieu-container input,select{
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      padding: 5px;
      width: 400px;
      border: 1px solid #d3d3d3;
      margin-left: 30px;
      margin-bottom: 5px;
}
#updateLichChieu-wrapper input:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#updateLichChieu-wrapper select:focus {
      border: none;
      outline:2px solid #a0bdfa;
      background-color: #e8f0fe;
      & + label {
            color: #3b82f6;
      }
}
#update-updateLichChieu, #close-updateLichChieu {
      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;
      width: 120px;
      height: 35px;
      border-radius: 4px;
      transition: 0.3s;
      border: 1px solid #000;
}
#update-updateLichChieu:hover {
      border: none;
      background-color: #00ff1a;
      color: white;
}
#close-updateLichChieu:hover {
      border: none;
      background-color: #ff0000;
      color: white;
}